name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore
      run: dotnet restore

    - name: Lint
      run: dotnet format --verify-no-changes

    - name: Build
      run: dotnet build --no-restore -c Release

    - name: Docker build document service
      run: docker build -f ./src/Document/Dockerfile -t document-ci src

    - name: Docker build identity service
      run: docker build -f ./src/Identity/Dockerfile -t identity-ci src

    - name: Docker build apigateway service
      run: docker build -f ./src/ApiGateway/Dockerfile -t apigateway-ci src
    
    - name: Docker build filestorage service
      run: docker build -f ./src/FileStorage/Dockerfile -t filestorage-ci src